/* CARD */
.app-card {
  width: 170px;
  min-width: 170px;

  background: linear-gradient(145deg, #838383, #ffffff);
  border-radius: 18px;
  padding: 14px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.25s ease;

  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

/* HOVER (more black depth) */
.app-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 14px 30px rgba(255, 254, 254, 0.2);
}

/* ICON */
.app-card img {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  object-fit: cover;

  background: #fffefe;
  padding: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* TITLE (strong black) */
.app-card h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #111;   /* strong black */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CATEGORY */
.app-card p {
  font-size: 11px;
  margin: 0;
  color: #555;

  background: #e2e4e8;
  padding: 2px 8px;
  border-radius: 999px;
  width: fit-content;
}

/* RATING */
.app-card span {
  font-size: 12px;
  color: #f59e0b;
  font-weight: 600;
}

